//Theme Teal
/*#1e92c9*/
$theme-teal: #1e92c9;
/*#a09898*/
$theme-teal-legal-bg: #a09898;
$theme-teal-bar: #a09898;
$theme-teal-navbar-brand: #a09898;
$theme-teal-navbar-brand_active: #a09898;
$theme-teal-navbar-brand_hover: #a09898;
$theme-teal-navbar-brand_focus: #a09898;
$theme-teal-nav-anchor: #a09898;
$theme-teal-nav-anchor_hover: rgba(0, 0, 0, 0);
$theme-teal-nav-anchor_focus: rgba(0, 0, 0, 0);
$theme-teal-nav-anchor-opened: rgba(0, 0, 0, 0);
$theme-teal-nav-anchor-opened_hover: rgba(0, 0, 0, 0);
$theme-teal-nav-anchor-opened_focus: rgba(0, 0, 0, 0);
$theme-teal-menu-list-active: rgba(0, 0, 0, 0);
$theme-teal-menu-list-toggled: rgba(0, 0, 0, 0);
$theme-teal-menu-list-submenu: rgba(0, 0, 0, 0);